body{
    margin: 0;
    font-family: 'Raleway', sans-serif;/*основной шрифт*/
    font-size: 14px;
    color: #6c7279;
    background-color: white;
    -webkit-font-smoothing: antialiased;/*СГЛАЖИВАНИЕ ЭКРАННЫХ ШРИФТОВ*/
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}
